@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #eef0ee;
  --foreground: #121212;
}

.dark {
  --background: #121212;
  --foreground: #eef0ee;
}

@theme {
  --color-primary: #D2691E;
  --color-secondary: #1A1A1A;
  --color-tertiary: #FCF9F2;
  --color-neutral: #706F6C;
}